APP_ENV=dev
APP_DEBUG=1

DATABASE_URL=postgresql://app:app@postgres:5432/app?serverVersion=16&charset=utf8

KAFKA_BROKERS=kafka:9092
KAFKA_CONSUME_TOPIC=status-storage-final.events
KAFKA_PRODUCE_TOPIC=status-storage-final.events

RR_RPC_ADDRESS=tcp://127.0.0.1:6001
