parameters:
    level: 8
    paths:
        - Fixtures
    tmpDir: ../../var/cache/phpstan-fixtures
    bootstrapFiles:
        - ../../vendor/autoload.php

services:
    -
        class: App\Tools\PHPStanRules\ModuleBoundaryRule
        tags:
            - phpstan.rules.rule
